.NfL25 {
    width: 94rem;
    height: 35rem;
    border-radius: 7.125rem;
    display: flex;
    margin: 0 auto;

}

.NFL-25-picture {
    width: 30rem;
    height: 30rem;
    border-radius: 20%;
    margin: 50px auto;
    display: block;

}

video {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .NfL25 {
        width: 60rem;
        height: 20rem;
    }
}


@media (max-width: 768px) and (min-width: 430px) {
    .NfL25 {
        width: 40rem;
        height: 20rem;
        border-radius: 7.125rem;
        display: flex;
        margin: 0 auto;


    }

    .NFL-25-picture {
        width: 30rem;
        height: 30rem;
        border-radius: 20%;
        margin: 50px auto;
        display: block;

    }

    video {
        width: 100%;
        height: auto;
        display: flex;
        margin: auto;
    }
}

@media (max-width: 430px) and (min-width:350px) {
    .NfL25 {
        display: flex;
        width: 20rem;
        height: 10rem;
        padding: 6px 6px 3px;

    }

    .NFL-25-picture {
        width: 10rem;
        height: 20rem;
        border-radius: 10%;
        display: flex;
        margin: 10px auto;

    }

    video {
        width: 100%;
        height: auto;
    }
}