body {
    background-color: rgba(74, 70, 70, 1);
    font-family: sans-serif;
}

.Header-container {
    text-align: right;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.sign-in-button {
    background-color: rgba(227, 227, 227, 1);
    color: rgba(144, 11, 9, 1);
    border: none;
    border-radius: 15% 15% 15% 15%;
    text-decoration: none;
    padding: 0.08rem 0.3rem;
    justify-content: center;

}

.register-button {
    background-color: rgba(44, 44, 44, 1);
    color: rgba(245, 245, 245, 1);
    border: none;
    border-radius: 15% 15% 15% 15%;
    text-decoration: none;
    padding: 0.08rem 0.3rem;
    justify-content: center;
}

.GameHub-logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: -2.813rem;
    padding: 0.5rem;
    width: 52.125rem;
    height: 41.625rem;
}

.home-page-container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wide {
    font-size: 2.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: rgba(227, 227, 227, 1);
}

.Header-links {
    text-decoration: none;
    color: rgba(227, 227, 227, 1);
    margin: 1.188rem;
}

.header-logo {
    width: 85.063rem;
    height: 7.813rem;
    display: flex;
    margin: auto;
    margin-bottom: 1rem;

}

.fa-solid fa-cart-shopping {
    text-decoration: none;
    color: #000;
    background-color: #000000;
}

.View-Games {
    text-decoration: none;
    color: rgba(227, 227, 227, 1);
    font-size: 2.25rem;
}

.Footer-container {
    width: 100%;
    height: 5rem;
    display: flex;
    border: none;
    justify-content: space-between;
    background-color: white;

}

.social-media-icons {
    height: 4rem;
    width: 4rem;
    margin: 0.3rem;

}

.Products-container {
    display: none
}

.Game-price-and-button {
    display: flex;
    align-items: center;
}

.Game-price {
    font-size: 2.25rem;
    display: flex;
    margin: 2rem;
    color: white;
}

.Game-title {
    color: white;
    margin: 2rem;
    margin: 2% 5% 2% 2%;
}

.Game-info {
    width: 50%;
    font-size: 2rem;
    color: white;
    display: flex;
    margin-top: 110px;

}

.Game-info-and-image {
    text-align: center;
}

.Add-to-cart {
    background-color: rgba(44, 44, 44, 1);
    width: 15rem;
    height: 3rem;
    border: transparent;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    margin: -80px 130px;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}


@media (max-width: 1440px) and (min-width: 1024px) {
    body {
        background-color: rgba(74, 70, 70, 1);
        font-family: sans-serif;
    }

    .Header-container {
        text-align: right;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 1.0rem;
    }

    .sign-in-button {
        background-color: rgba(227, 227, 227, 1);
        color: rgba(144, 11, 9, 1);
        border: none;
        border-radius: 15% 15% 15% 15%;
        text-decoration: none;
        padding: 0.08rem 0.3rem;
        justify-content: center;

    }

    .register-button {
        background-color: rgba(44, 44, 44, 1);
        color: rgba(245, 245, 245, 1);
        border: none;
        border-radius: 15% 15% 15% 15%;
        text-decoration: none;
        padding: 0.08rem 0.3rem;
        justify-content: center;
    }

    .GameHub-logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: -2.813rem;
        padding: 0.5rem;
        width: 52.125rem;
        height: 41.625rem;
    }

    .home-page-container {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .wide {
        font-size: 2.25rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        color: rgba(227, 227, 227, 1);
    }

    .Header-links {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        margin: 1.188rem;
    }

    .header-logo {
        width: 85.063rem;
        height: 7.813rem;
        display: flex;
        margin: auto;

    }

    .fa-solid fa-cart-shopping {
        text-decoration: none;
        color: #000;
        background-color: #000000;
    }

    .View-Games {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        font-size: 2.25rem;
    }

    .Products-container {
        display: none
    }

    .Game-price-and-button {
        display: flex;
        align-items: center;
    }

    .Game-price {
        font-size: 2.25rem;
        display: flex;
        margin: 2rem;
        color: white;
    }

    .Game-title {
        color: white;
        margin: 2rem;
        margin: 2% 5% 2% 2%;
    }

    .Game-info {
        width: 50%;
        font-size: 2rem;
        color: white;
        display: flex;
        margin-top: 110px;

    }

    .Game-info-and-image {
        text-align: center;
    }

    .Add-to-cart {
        background-color: rgba(44, 44, 44, 1);
        width: 15rem;
        height: 3rem;
        border: transparent;
        border-radius: 0.5rem;
        color: white;
        font-size: 1.5rem;
        display: flex;
        margin: -80px 130px;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    body {
        background-color: rgba(74, 70, 70, 1);
        font-family: sans-serif;
    }

    .Header-container {
        text-align: right;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    .sign-in-button {
        background-color: rgba(227, 227, 227, 1);
        color: rgba(144, 11, 9, 1);
        border: none;
        border-radius: 15% 15% 15% 15%;
        text-decoration: none;
        padding: 0.08rem 0.3rem;
        justify-content: center;

    }

    .register-button {
        background-color: rgba(44, 44, 44, 1);
        color: rgba(245, 245, 245, 1);
        border: none;
        border-radius: 15% 15% 15% 15%;
        text-decoration: none;
        padding: 0.08rem 0.3rem;
        justify-content: center;
    }

    .GameHub-logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: -2.813rem;
        padding: 0.5rem;
        width: 52.125rem;
        height: 41.625rem;
    }

    .home-page-container {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .wide {
        font-size: 2.25rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        color: rgba(227, 227, 227, 1);
    }

    .Header-links {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        margin: 1.188rem;
    }

    .header-logo {
        width: 45.063rem;
        height: 5.813rem;
        display: flex;
        margin: auto;

    }

    .fa-solid fa-cart-shopping {
        text-decoration: none;
        color: #000;
        background-color: #000000;
    }

    .View-Games {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        font-size: 2.25rem;
    }

    .Products-container {
        display: none
    }

    .Game-price-and-button {
        display: flex;
        align-items: center;
    }

    .Game-price {
        font-size: 2.25rem;
        display: flex;
        margin: 2rem;
        color: white;
    }

    .Game-title {
        color: white;
        margin: 2rem;
        margin: 2% 5% 2% 2%;
    }

    .Game-info {
        width: 50%;
        font-size: 2rem;
        color: white;
        display: flex;
        margin-top: 110px;

    }

    .Game-info-and-image {
        text-align: center;
    }

    .Add-to-cart {
        background-color: rgba(44, 44, 44, 1);
        width: 15rem;
        height: 3rem;
        border: transparent;
        border-radius: 0.5rem;
        color: white;
        font-size: 1.5rem;
        display: flex;
        margin: -80px 130px;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
}

@media (max-width: 768px) and (min-width: 430px) {
    .Header-container {
        align-items: center;
        text-align: center;
        margin: auto;

    }

    .sign-in-button {
        background-color: rgba(227, 227, 227, 1);
        color: rgba(144, 11, 9, 1);
        border: none;
        border-radius: 15;
        text-decoration: none;
        padding: 0.08rem 0.3rem;
        justify-content: center;
        font-size: 1rem;
    }

    .Header-links {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        margin-left: -0.7rem;
    }

    .header-logo {
        width: 24.9rem;
        height: 5rem;
    }

    .fa-solid fa-cart-shopping {
        text-decoration: none;
        color: #000;
        background-color: #000000;
    }

    .register-button {
        background-color: rgba(44, 44, 44, 1);
        color: rgba(245, 245, 245, 1);
        border: none;
        border-radius: 15% 15% 15% 15%;
        text-decoration: none;
        padding: 0.08rem 0.3rem;
        justify-content: center;
        font-size: 1rem;
    }

    .GameHub-logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: -1.813rem;
        width: 30.125rem;
        height: 30.625rem;
    }

    .home-page-container {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .Game-info {
        width: 80%;
        font-size: 2rem;
        color: white;
        display: flex;
        margin-top: 110px;
        margin-bottom: 10px;
    }

}

@media (max-width: 430px) and (min-width:350px) {
    .Header-container {
        font-size: 0.8rem;
    }

    .sign-in-button {
        background-color: rgba(227, 227, 227, 1);
        color: rgba(144, 11, 9, 1);
        border: none;
        border-radius: 15%;
        text-decoration: none;
        padding: 0.01rem 0.2rem;
        justify-content: center;
        font-size: 0.9rem;
    }

    .register-button {
        background-color: rgba(44, 44, 44, 1);
        color: rgba(245, 245, 245, 1);
        border: none;
        border-radius: 15%;
        text-decoration: none;
        padding: 0.01rem 0.2rem;
        justify-content: center;
        font-size: 0.9rem;
    }

    .Header-links {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        margin-left: -1rem;
    }

    .header-logo {
        width: 18rem;
        height: 5rem;
    }


    .GameHub-logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: -1.813rem;
        width: 20.125rem;
        height: 30.625rem;
    }

    .home-page-container {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .wide {
        font-size: 2.25rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        color: rgba(227, 227, 227, 1);
    }


    .View-Games {
        text-decoration: none;
        color: rgba(227, 227, 227, 1);
        font-size: 1.75rem;
    }

    .Game-title {
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    }

    .Game-price {
        font-size: 1.75rem;
        color: white;
        display: flex;
        margin: 0px 0px 0px 45px;
    }

    .Add-to-cart {
        background-color: rgba(44, 44, 44, 1);
        width: 60vw;
        height: 4vh;
        border: transparent;
        border-radius: 0.5rem;
        color: white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        display: flex;
        margin: -30px 0px 0px 110px;
    }

    .Game-info {
        width: 90%;
        font-size: 1.3rem;
        color: white;
        margin-top: 10px;
        margin-left: 20px;
    }

}